---
# Main tasks for zabbix_agent role
- name: Install Zabbix repository
  dnf:
    name: "https://repo.zabbix.com/zabbix/6.0/rhel/9/x86_64/zabbix-release-6.0-4.el9.noarch.rpm"
    state: present
    disable_gpg_check: yes

- name: Install Zabbix agent package
  dnf:
    name: zabbix-agent
    state: present

- name: Deploy Zabbix agent configuration
  template:
    src: zabbix_agentd.conf.j2
<<<<<<< HEAD
    dest: "{{ zabbix_agent_conf }}"
=======
    dest: /etc/zabbix_agentd.conf
>>>>>>> 824d7cd820688a1e7db000c09682a85e0cc14306
    owner: root
    group: root
    mode: '0644'
  notify: Restart zabbix agent

- name: Enable and start Zabbix agent service
  service:
    name: zabbix-agent
    state: started
    enabled: yes

